{% extends 'main/base.html' %}
{% block title %}
<title>Новый сотрудник</title>
{% endblock %}
{% block topic_name %}
<div id="block_topic_name">
    <h1>Добавление нового сотрудника</h1>
</div>
{% endblock %}
{% block maincontent %}
<form id="EmployeeForm" method="post" data-positions-url="{% url 'ajax_load_positions' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
        Создать
    </button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_department").change(function () {
        const url = $("#EmployeeForm").attr("data-positions-url");  // get the url of the `load_cities` view
        const departmentId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'department_id': departmentId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_position").html(data);  // replace the contents of the city input with the data that came from the server
                /*
                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);
                */
            }
        });

    });
</script>
{% endblock %}
