body {
    background: rgba(255,211,204,0.51);
}

#header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 15px;
}

.list_of_positions_in_sigle_dep {
    display: inline-block;
}

.delete_button {
    margin-top: 2%;
}

#company_name {
    padding-left: 44%;
}

#login {
    margin-top: 10px;
}



#menu {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    background: rgba(255,145,127,0.84);
}

#block_topic_name {
    display: flex;
    justify-content: center;
    padding: 1%;
    background: snow;
}

#header_employees_params {
    display: flex;

    padding-left: 9%;
    padding-right: 5%;
    border-style: solid;
    background-color: lavender;

}

#employee_one_block {
    display: flex;

    padding-right: 5%;
    border-style: solid;

}

.param {
    width: 25%;
}

.val {
    width: 20%;
    display: flex;
    justify-content: center;
}

#create_employee {
    justify-self: right;
}

.position_block {
    border-style: solid;
}

.position_desc_block {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.employees_on_position_block {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}




.employyes_list {
    display: block;
}

.demps_one_emp_in_list {
    display: flex;
    padding: 10px;
    border-style: groove;

}


.cart_photo_little {
    width: 50px;
    height: 50px;
    padding-left: 3px;
}


.img_block_little {
    width: 50px;
    height: 50px;
}


.cart_photo_mini {
    width: 80px;
    height: 80px;
    padding-right: 7px;

}

.add_employye_button_block {
    padding-right: 40%;
}

.position_block {
    padding-left: 2%;
}

.department_block {
    border-style: groove;


}

.departments_main_block {
    display: flex;
    justify-content: space-between;
}

.list_of_department {

    padding-left: 40%;

}

.department_block_topic_name {
    display: inline-block;

}

.create_button_block {
    position: absolute;
    left: 90%;
}

.button_add_pos {
    padding-top: 5%;
    padding-left: 10%;
}

.button_dep_create {
    padding-left: 100%;
}

.create_data_block {
    display: flex;
    padding-left: 10%;

}

.position_desc {
    padding: 1%;
}

.cart_block {
    display: flex;
    width: 40%;
    height: 600px;
    border-style: solid;
    justify-content: center;
}

.employee_decription {
    padding-left: 2%;
}

.cart_photo {
    width: 150px;
    height: 150px;
}

.home_main_block {
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
}